<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends 'Eapp/header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>A2Z a Corporate Category Flat Bootstrap Responsive Website Template | Plans :: w3layouts</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="A2Z Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //for-mobile-apps -->
	<link href="{% static '/Eapp/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static '/Eapp/css/font-awesome.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static '/Eapp/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="//fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">

</head>

<body>
	{% block content %}
		<div class="banner-bg2">
			<div class="banner-info bg3 inner">
					<h3>one click repair service</h3>
					<p>repair.&nbsp;improve.&nbsp;maintain</p>
				</div>
	</div>
	<!-- breadcrumbs -->
	<div class="breadcrumbs-w3l">
		<div class="container">
			<span class="breadcrumbs">
				<a href="index.html">Home</a> |
				<span>Plans</span>
			</span>
		</div>
	</div>

	<!-- plan -->
	<div class="w3ls-section plans">
		<div class="container">
			<h4 class="main-title">plans</h4>
			<div class="services-main">
				<!-- maintenance essential plan -->
				<div class="col-md-4 col-sm-4 w3_agile-plan-grid">
					<div class="pricing_grid_content">
						<h5>home maintenance</h5>
						<h3>
							<sup>$</sup>
							<span class="counter agile_counter">35/
								<label>Month</label>
							</span>
						</h3>
						<ul class="w3_count">
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p>Adipiscing consect</p>
							</li>
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p> estibulum nibh urna</p>
							</li>
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p> estibulum nibh urna</p>a</li>
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p> estibulum nibh urna</p>
							</li>
						</ul>
						<a href="#">subscribe</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 w3_agile-plan-grid">
					<div class="pricing_grid_content">
							<h5>appliances coverage</h5>
						<h3>
							<sup>$</sup>
							<span class="counter agile_counter">45/
								<label>Month</label>
							</span>
						</h3>
						<ul class="w3_count">
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p>Adipiscing consecte</p>
							</li>
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p> estibulum nibh urna</p>
							</li>
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p> estibulum nibh urna</p>a</li>
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p> estibulum nibh urna</p>
							</li>
						</ul>
						<a href="#">subscribe</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 w3_agile-plan-grid">
					<div class="pricing_grid_content">
						<h5>total home package</h5>
						<h3>
							<sup>$</sup>
							<span class="counter agile_counter">80/
								<label>Month</label>
							</span>
						</h3>
						<ul class="w3_count">
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p>Adipiscing consect</p>
							</li>
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p> estibulum nibh urna</p>
							</li>
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p> estibulum nibh urna</p>a</li>
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p> estibulum nibh urna</p>
							</li>
						</ul>
						<a href="#">subscribe</a>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
	</div>
	<!-- //plan -->
	<div class="w3ls-section app-head">
			<div class="container">
				<div class="col-md-4 col-sm-4 app-mobile"><img src="{% static '/Eapp/images/mobile.png' %}" alt="" class="img-responsive"/></div>
				<div class="col-md-8 col-sm-8 app-main">
					<h6>home services at your <span>finger tips!</span></h6>
					<div class="app-form">
							<p>get the SMS link to download free app </p>
							<form action="#" method="post" class="banner_form">
							<div class="sec-left">
									<input  placeholder="Enter your mobile #" name="first name" type="text" required="">
							</div>	
							<input type="submit" value="get the app">
							<div class="clearfix"></div>
							</form>
					</div>
					<ul class="app-links">
							<li><a href="#"><img src="{% static '/Eapp/images/1.png' %}" alt=""></a></li>
							<li><a href="#"><img src="{% static '/Eapp/images/2.png' %}" alt=""></a></li>
					</ul>
					
				</div>	
				<div class="clearfix"></div>
			</div>
		</div>
	<!-- js -->
	<script src="{% static '/Eapp/js/jquery-2.2.3.min.js' %}"></script>
	<!-- //js-->
	<!--search-bar-->
	<script src="{% static '/Eapp/js/main.js' %}"></script>
	<!--//search-bar-->
	<!-- start-smooth-scrolling -->
	<script src="{% static '/Eapp/js/move-top.js' %}"></script>
	<script src="{% static '/Eapp/js/easing.js' %}"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<script src="{% static '/Eapp/js/SmoothScroll.min.js' %}"></script>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static '/Eapp/js/bootstrap.js' %}"></script>
	{% endblock %}
</body>

</html>