<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends 'Eapp/header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>A2Z a Corporate Category Flat Bootstrap Responsive Website Template | Projects :: w3layouts</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="A2Z Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //for-mobile-apps -->
	<link href="{% static '/Eapp/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static '/Eapp/css/font-awesome.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static '/Eapp/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static '//fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i' %}" rel="stylesheet">
	<link href="{% static '//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i' %}" rel="stylesheet">


</head>

<body>
	{% block content %}
		<div class="banner-bg2">
		<div class="banner-info bg3 inner">
			<h3>one click repair service</h3>
			<p>repair.&nbsp;improve.&nbsp;maintain</p>
		</div>
	</div>
	<!-- breadcrumbs -->
	<div class="breadcrumbs-w3l">
		<div class="container">
			<span class="breadcrumbs">
				<a href="index.html">Home</a> |
				<span>Our Projects</span>
			</span>
		</div>
	</div>
	<!-- //breadcrumbs -->
	<!--Gallery  section starts here-->
	<div class="gallery  agileinfo w3ls-section" id="gallery">
		<div class="container">
			<h4 class="main-title">our projects</h4>
		</div>
		<div class="bs-example bs-example-tabs services-main" role="tabpanel" data-example-id="togglable-tabs">
			<ul id="myTab" class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#home-main" id="home-tab" role="tab" data-toggle="tab" aria-controls="home-main" aria-expanded="true">All</a>
				</li>
				<li role="presentation">
					<a href="#learning" role="tab" id="learning-tab" data-toggle="tab" aria-controls="learning">Maintenance</a>
				</li>
				<li role="presentation">
					<a href="#playing" role="tab" id="playing-tab" data-toggle="tab" aria-controls="playing">Cleaning</a>
				</li>
				<li role="presentation">
					<a href="#school" role="tab" id="school-tab" data-toggle="tab" aria-controls="school">Inspection</a>
				</li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="home-main" aria-labelledby="home-tab">
					<div class="w3_tab_img">
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g1.jpg">
									<img src="{% static '/Eapp/images/g1.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6  w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g2.jpg">
									<img src="{% static '/Eapp/images/g2.jpg' %}" alt=" " class="img-responsive" />

								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g3.jpg">
									<img src="{% static '/Eapp/images/g3.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g4.jpg">
									<img src="{% static '/Eapp/images/g4.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6  w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g5.jpg">
									<img src="{% static '/Eapp/images/g5.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g6.jpg">
									<img src="{% static '/Eapp/images/g6.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g1.jpg">
									<img src="{% static '/Eapp/images/g1.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g2.jpg">
									<img src="{% static '/Eapp/images/g2.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>

						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g3.jpg">
									<img src="{% static '/Eapp/images/g3.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4   col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g4.jpg">
									<img src="{% static '/Eapp/images/g4.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g5.jpg">
									<img src="{% static '/Eapp/images/g5.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g6.jpg">
									<img src="{% static '/Eapp/images/g6.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>



						<div class="clearfix"> </div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="learning" aria-labelledby="learning-tab">
					<div class="w3_tab_img">
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g2.jpg">
									<img src="{% static '/Eapp/images/g2.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g4.jpg">
									<img src="{% static '/Eapp/images/g4.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g5.jpg">
									<img src="{% static '/Eapp/images/g5.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g3.jpg">
									<img src="{% static '/Eapp/images/g3.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="playing" aria-labelledby="playing-tab">
					<div class="w3_tab_img">
						<div class="col-md-3 col-sm-4  col-xs-6  w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g5.jpg">
									<img src="{% static '/Eapp/images/g5.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g6.jpg">
									<img src="{% static '/Eapp/images/g6.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g1.jpg">
									<img src="{% static '/Eapp/images/g1.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g2.jpg">
									<img src="{% static '/Eapp/images/g2.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>

						<div class="clearfix"> </div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="school" aria-labelledby="school-tab">
					<div class="w3_tab_img">
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g3.jpg">
									<img src="{% static '/Eapp/images/g3.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g4.jpg">
									<img src="{% static '/Eapp/images/g4.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g5.jpg">
									<img src="{% static '/Eapp/images/g5.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g6.jpg">
									<img src="{% static '/Eapp/images/g6.jpg' %}" alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>


			</div>
		</div>
	</div>
	<!--Gallery section ends here-->
	
	<!-- js -->
	<script src="{% static '/Eapp/js/jquery-2.2.3.min.js' %}"></script>
	<!-- //js-->

	<!-- Gallery-plugin -->
	<script src="{% static '/Eapp/js/jquery.mobile.custom.min.js' %}"></script>
	<script src="{% static '/Eapp/js/jquery.cm-overlay.js' %}"></script>
	<script>
		$(document).ready(function () {
			$('.cm-overlay').cmOverlay();
		});
	</script>
	<!-- //Gallery-plugin -->

	<!--search-bar-->
	<script src="{% static '/Eapp/js/main.js' %}"></script>
	<!--//search-bar-->
	<!-- start-smooth-scrolling -->
	<script src="{% static '/Eapp/js/move-top.js' %}"></script>
	<script src="{% static '/Eapp/js/easing.js' %}"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<script src="{% static '/Eapp/js/SmoothScroll.min.js' %}"></script>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static '/Eapp/js/bootstrap.js' %}"></script>
	{% endblock %}
</body>

</html>