<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends 'Eapp/header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>A2Z a corporate Category Flat Bootstrap Responsive Website Template | Status :: w3layouts</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="A2Z Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //for-mobile-apps -->
	<link href="{% static 'Epp/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'Epp/css/font-awesome.css' %} " rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'Epp/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static '//fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i' %}" rel="stylesheet">
	<link href="{% static '//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i' %}" rel="stylesheet">

</head>

<body>
	{% block content %}
		<div class="banner-bg2">
		<div class="banner-info bg3 inner">
			<h3>one click repair service</h3>
			<p>repair.&nbsp;improve.&nbsp;maintain</p>
		</div>
	</div>
	<!-- breadcrumbs -->
	<div class="breadcrumbs-w3l">
		<div class="container">
			<span class="breadcrumbs">
				<a href="index.html">Home</a> |
				<span>Status</span>
			</span>
		</div>
	</div>
	<!-- //breadcrumbs -->
	<!-- track order -->

	<div class="w3ls-section">
		<div class="container">
			<div class="register-top">
				<div class="col-md-5 col-sm-5 register-left">
					<img src="{% static '/Eapp/images/order.jpg' %}" alt="" class="img-responsive" />
				</div>
				<div class="col-md-7 col-sm-7 register-right">
					<form action="#" method="post" class="banner_form">
						<h6>order look up </h6>
						<div class="sec-right">
							<label class="contact-form-text">Email</label>
							<input placeholder="xxx@xx.com " name="first name" type="email" required="">
						</div>
						<div class="sec-left">
							<label class="contact-form-text">Registered Mobile no.</label>
							<input placeholder=" XXXXXX" name="first name" type="text" required="">
						</div>
						<input type="submit" value="Submit">
					</form>
					<a href="#register" class="scroll">new user register here</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //track order -->

	<div class="w3ls-section app-head">
		<div class="container">
			<div class="col-md-4 col-sm-4 app-mobile">
				<img src="{% static '/Eapp/images/mobile.png' %}" alt="" class="img-responsive" />
			</div>
			<div class="col-md-8 col-sm-8 app-main">
				<h6>home services at your
					<span>finger tips!</span>
				</h6>
				<div class="app-form">
					<p>get the SMS link to download free app </p>
					<form action="#" method="post" class="banner_form">
						<div class="sec-left">
							<input placeholder="Enter your mobile #" name="first name" type="text" required="">
						</div>
						<input type="submit" value="get the app">
						<div class="clearfix"></div>
					</form>
				</div>
				<ul class="app-links">
					<li>
						<a href="#">
							<img src="{% static '/Eapp/images/1.png' %}" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="{% static '/Eapp/images/2.png' %}" alt="">
						</a>
					</li>
				</ul>

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- register -->

	<div class="w3ls-section banner-single" id="register">
		<div class="container">
			<h4 class="main-title">get registered!</h4>
			<div class="about-inner-main">
				<div class="col-md-5 reg-img">
					<img src="{% static '/Eapp/images/girl.png' %}" alt="" class="img-responsive" />
				</div>
				<div class="col-md-7  w3layouts-reg-form">
					<form action="#" method="post" class="banner_form">
						<p>Please fill your details as mentioned below </p>
						<div class="sec-left">
							<label class="contact-form-text">Name</label>
							<input placeholder="your name " name="first name" type="text" required="">
						</div>
						<div class="sec-right">
							<label class="contact-form-text">Email</label>
							<input placeholder="xxx@xx.com " name="first name" type="email" required="">
						</div>
						<div class="sec-left">
							<label class="contact-form-text">Mobile no.</label>
							<input placeholder=" XXXXXX" name="first name" type="text" required="">
						</div>
						<div class="form-tx">
							<label class="contact-form-text">Address</label>
							<textarea placeholder="your address" required></textarea>
						</div>
						<div class="form-select sec-left">
							<label class="contact-form-text">Select Category</label>
							<select>
								<option value="0">---- SELECT ----</option>
								<option value="1">Electrical Service</option>
								<option value="2">Plumbing Service</option>
								<option value="3">Painting</option>
								<option value="4">Carpentry</option>
								<option value="5">Gardening</option>
								<option value="6">Other</option>
							</select>
						</div>
						<div class="form-select sec-right">
							<label class="contact-form-text">Select Area</label>
							<select>
								<option value="0">---- SELECT ----</option>
								<option value="1">place1</option>
								<option value="2">place2</option>
								<option value="3">place3</option>
								<option value="4">place4</option>
								<option value="5">place5</option>
							</select>
						</div>
						<div class="clearfix"></div>
						<div class="form-select">
							<label class="contact-form-text">Select Plan</label>
							<select>
								<option value="0">---- SELECT ----</option>
								<option value="1">Normal plan (free)</option>
								<option value="2">First preference $50</option>
								<option value="3">Second preference $38</option>
								<option value="4">Third preference $25</option>
							</select>
						</div>
						<div class="wthree-text">
							<ul>
								<li>
									<label class="anim">
										<input type="checkbox" class="checkbox">
										<span> I accept the terms and conditions</span>
									</label>
								</li>
							</ul>
							<div class="clearfix"> </div>
						</div>
						<input type="submit" value="Submit">
					</form>

				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //register -->
	<!-- js -->
	<script src="{% static '/Eapp/js/jquery-2.2.3.min.js' %}"></script>
	<!-- //js-->
	<!--search-bar-->
	<script src="{% static '/Eapp/js/main.js' %}"></script>
	<!--//search-bar-->
	<!-- start-smooth-scrolling -->
	<script src="{% static '/Eapp/js/move-top.js' %}"></script>
	<script src="{% static '/Eapp/js/easing.js' %}"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<script src="{% static '/Eapp/js/SmoothScroll.min.js' %}"></script>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static '/Eapp/js/bootstrap.js' %}"></script>
	{% endblock %}
</body>

</html>